.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 100%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } /* Container holding the image and the text */
  .galeriakek {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  } 
  /* Asegurar que el contenedor del gráfico sea responsivo */
  .chart-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;}
    .galeria {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
      width: 85%;
      margin-left: 7%;
  }

  .galeria img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
  }

  .galeria img:hover {
      transform: scale(1.05);
  }

  /* Ajuste para que todas las imágenes tengan la misma altura */
  .galeria img {
      width: auto;
      height: 400px;
      object-fit: contain; /* Mantiene las proporciones sin cortar */
  }
 
.container2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}
.card img {
    
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}
.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}
.imgcentro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  border-radius: 10%;

} .imgcentro:hover {
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  background-color: #fff;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.gallery img {
  width: 600px;
  margin: 10px;
  padding: 0 auto;
  border-radius: 10%;
}
.gallery{
  text-align: center;
}
